html{
    padding: 0.5rem;
}
header{
    border: #74abfe solid ;
    background-color: #cbe0ff;
    font-size: 1.1rem    ;
    
    display: flex;
    flex-direction: column;
}header h2>a{
   
    font-size: 3rem;
}header h2{
    display: flex;
    align-items: center;
}
main{
    display:inline;
    
}
article{
    background-color:#74abfe ;
    padding: 1rem;
    height: max-content;
    
}article li{
    display: block;
    list-style: disc;
}
 img.pure-img{
    max-width: 100px;
    max-height: 100px;
} 
.pure-menu-item{
    font-size: 1.5rem;   
}a.pure-menu-link{
    padding: 0.5rem;
    color:#100e7c;
} 

*{
    margin: 0.1rem;
    border-radius: 0.3rem;
    
    color: #100e7c;
    text-decoration: none;
}

p{

    margin: 1rem;
    font-size: 1.5rem;
}
.pure-menu ul.pure-menu-list{
    display:flex;
    flex-wrap: wrap;
    gap: 0.1rem; 
    height: min-content;
}
.my-card{
    border: #74abfe solid;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     gap: 1rem;


}




@media(max-width:800px) and (min-width:412px){
    
    main{
    display:inline ;
 }
}
@media(max-width:360px){
    img.pure-img{
        display: none;
    }
    h1{
        font-size: x-large;
    }
}