@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    margin: 0.3rem;
    padding: 0.3rem;
    align-items: center;
    justify-content: center;
    background-color: #CBE0FF;
    border: solid 3px #74ABFF;
    border-radius: 10px;
}

ul {
    align-items: center;
    justify-content: center;
}

a {
    transition: all 0.3s ease 0s;
}

a:hover {
    background-color: #74ABFF;
}

h2 {
    margin: 0.3rem;
    margin-top: 1rem;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #4200FF;
    background-color: #A89AFF;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 20px;

}

@media screen and (max-width: 450px) {
    h2{
        font-size: 24px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

@media screen and (max-width: 400px) {
    h2{
        font-size: 22px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

@media screen and (max-width: 350px) {
    h2{
        font-size: 20px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

h3{
    font-size: 22px;
    margin: 0.3rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 450px) {
    h3{
        font-size: 20px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

@media screen and (max-width: 400px) {
    h3{
        font-size: 18px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

@media screen and (max-width: 350px) {
    h3{
        font-size: 14px;
        -webkit-text-size-adjust: 100%;
        width: fit-content;
    }
}

article{
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
}

@media screen and (max-width: 540px) {
    article{
      display: flex;
      flex-direction: column;
    }
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #3500CD;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #24008C;
    font-weight: 500;
}